
:root {
    --bg: #000000; /*#f4f4f4*/ /*#ccc6e8*/ /*#ffdda6*/ /*#ff005d*/ /*#ffbcbc*/ /*989898*/ /*b3b3da*/
    --accent: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    outline: 0px red solid;
}

::selection {
    background-color: #8400ff; 
    color: #ffffff;           
}
  
::-moz-selection {
    background-color: #b4b4b4; 
    color: #000000;          
}

html, body {
    background-color: var(--bg);
}

a {
    text-decoration: none;
    color: inherit ;
}
