
:root {
    --bg: #dadada; /*#ddc0ff*/ /*#ffd6f0*/ /*#ffdda6*/ /*#ff005d*/ /*#ffbcbc*/ /*989898*/
    --accent: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'monospace', monospace;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    outline: 0px red solid;
}

html, body {
    background-color: var(--bg);
}

a {
    text-decoration: none ;
    color: inherit ;
}
