.note {
  position: absolute;
  top: 30vh;
  left: 5vw;
  right: 5vw;
  font-size: 1vw;
  width: 60vw;
}

.vis {
  position: absolute;
  font-size: 20vw;
  font-weight: 100;
  bottom: -7vw;
}


@media screen and (max-width: 992px) {
  .note {
    position: absolute;
    top: 30vh;
    left: 5vw;
    right: 5vw;
    width: auto;
    font-size: 3.2vw;
  }

}
