#main {
  overflow-y: scroll !important;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;


}



.note {
  position: absolute;
  top: 30vh;
  left: 5vw;
  right: 5vw;
  font-size: 1vw;
  width: 60vw;
  color: #ffffff;
}



@media screen and (max-width: 992px) {
  .note {
    position: absolute;
    top: 30vh;
    left: 5vw;
    right: 5vw;
    width: auto;
    font-size: 3.2vw;
  }

}
