*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body {
    background-color: #212121;
    

}

#upper_plank {
    z-index: 99;
    position: absolute;
    color: #D8D8D8;
    height: 60vh;
    width: 100vw;

}

#heading {
    position: absolute;
    z-index: 9;
    bottom: 8%;
    left: 17%;
    font-size: 4.7vw;
    font-weight: 300;
}



#bottom_plank {
    position: absolute;
    bottom: 0;
    background-color: #020202b9;
    color: #D8D8D8;
    height: 20vh;
    width: 100vw;
}

#social {
    position: absolute;
    bottom: 3.5vw;
    right: 3.5vw;
    font-size: 1.5vw;
    letter-spacing: 0.7vw;
}

#email {
    position: absolute;
    bottom: 4.4vw;
    left: 3.5vw;
    font-size: 1.2vw;
    font-weight: 300;
}

a {
    color: #D8D8D8;
    text-decoration: none;
}

a:hover {
    color: #9664FF;
}




