.Home {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--dark-color);
    overflow: hidden;
}

.noteo {
    position: relative;
    top: 3vh;
    left: 2vw;
    font-family: monospace;
    font-size: 0.8vw;
    width: 60vw;
    height: auto;
    color: var(--light-color);
    z-index: 3;
}


.bottom-bar {
    position: absolute;
    width: 100vw;
    height: 23vh;
    padding: 1vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-color);
}

.note {
    font-size: 0.8vw;
    font-family: monospace;
}

.name {
    font-family: DotGothic16, sans-serif;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
